<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }">
</ngx-loading>
<section class="skills-section">

  <div class="skills-cont">
    <div class="skills">
      <h2>SKILLS</h2>

      <div>
        <p onmouseover="myScale(1)">JAVA</p>
        <p onmouseover="myScale(2)">ANDROID</p>
        <p onmouseover="myScale(3)">JAVASCRIPT</p>
        <p onmouseover="myScale(4)">ANGULAR</p>
        <p onmouseover="myScale(5)">JQUERY</p>
        <p onmouseover="myScale(6)">PHP</p>
        <p onmouseover="myScale(7)">HTML</p>
        <p onmouseover="myScale(8)">SCSS</p>
        <p onmouseover="myScale(9)">CSS</p>
      </div>
      <div>
        <i class="fab fa-java 1"></i>
        <i class="fab fa-android 2"></i>
        <i class="fab fa-js 3"></i>
        <i class="fab fa-angular 4"></i>
        <i class="fab fa-php 6"></i>
        <i class="fab fa-html5 7"></i>
        <i class="fab fa-sass 8"></i>
        <i class="fab fa-css3 9"></i>
      </div>

    </div>

    <div class="tech">
      <h2>TECHNOLOGIES</h2>
      <div>
          <p onmouseover="myScale(10)">GITHUB</p>
          <p onmouseover="myScale(11)">BITBUCKET</p>
          <p onmouseover="myScale(12)">CIRCLE CI</p>
          <p onmouseover="myScale(13)">SCRUM</p>
      </div>
      <div>
          <i class="fab fa-github 10"></i>
          <i class="fab fa-bitbucket 11"></i>
      </div>
    </div>
  </div>




</section>
