<header id="header">
  <div class="humberg-menu ">
    <hr>
    <hr>
    <hr>
  </div>
  <img routerLink="/home" src="./assets/img/logo-1.png" width="100%">
  <nav>
    <ul>
      <li><a href="https://docs.google.com/document/d/1E0Q1BnPCfgCG9oCTISIOd49xthlYzBP6itv7yPmIuLM/edit?usp=sharing"
          target="_blank" rel="noopener noreferrer"> Resume</a></li>
      <li routerLink="home" routerLinkActive="active">Home</li>
      <li routerLink="skills" routerLinkActive="active">Skills</li>
      <li routerLink="portfolio" routerLinkActive="active">Portfolio</li>
      <li routerLink="about" routerLinkActive="active">About</li>
      <li class="modal-btn" routerLinkActive="active">Contact</li>
    </ul>
  </nav>
</header>

<section class="modal modal-hidden">
  <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }">
  </ngx-loading>

  <div class="humberg-modal humberg-modal-x">
    <hr>
    <hr>
  </div>
  <div class="contact-form">

    <h1>Contact me today and let's set up an appointment <br> <span>I'll buy the cofee <i class="fab fa-java"></i></span>
    </h1>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <p class="message" *ngIf="message">{{message}}</p>
      <input type="text" placeholder="Name" formControlName="name">
      <input type="email" placeholder="Email" formControlName="email">
      <textarea placeholder="Message" formControlName="message" rows="5"> </textarea>
      <button class="gn-btn" type="submit"><span>Submit</span><i>&rarr;</i></button>
    </form>
  </div>
</section>


<!--------------------------------------
             ROUTER SECTION
----------------------------------------->
<section class="router-outlet">
  <router-outlet></router-outlet>
</section>
<!--------------------------------------
          END OF ROUTER SECTION
----------------------------------------->



<footer>
  <div>
    <p class="contacts">Phone: +254-716-832-927 <br>
      Email: techspaceke@gmail.com <br>
      copyrights &copy; {{year}} | Arnold Oduma | All rights reserved</p>

    <p class="footer-icons">
      <a href="https://web.facebook.com/arnoldcliff98" target="blank"><i class="fab fa-facebook"></i></a>
      <a href="http://twitter.com/odumaarnold" target="_blank" rel="noopener noreferrer"><i
          class="fab fa-twitter"></i></a>
      <a href="http://www.linkedin.com/in/arnold-oduma" target="_blank" rel="noopener noreferrer"><i
          class="fab fa-linkedin-in"></i></a>

    </p>
    <p class="credit">Designed with love and coffee by: <strong>Arnold Oduma </strong></p>
  </div>
  <a class="top"><a>&uarr; <div class="inner-top "></div> </a></a>

</footer>
