<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }">
</ngx-loading>

<section class="landing-page">
  <div class="land-back-cont">
    <div class="land-back"></div>
    <div class="land-back"></div>
  </div>

  <div class="intro">
    <div class="left">
      <img src="./assets/img/logo-1.png" width="100%">
    </div>
    <div class="right">
      <h2>Arnold <span> Oduma</span></h2>
      <h3>Not your average software developer</h3>
      <h3>Let us turn your ideas into reality today</h3>
      <button class="gn-btn modal-btn"><span>Hire Me</span><i>&rarr;</i></button>
    </div>

  </div>
</section>
