<section>
  <img routerLink="/home" style="cursor: pointer;" src="./assets/img/logo-1.png" width="100px" />

  <div class="page-404">
    <div class="page-404-info">
      <h1><Span>404</Span><br>We looked everywhere. </h1>
      <p>It seems the page you are looking for is missing. If you still need help, drop an <a>email here</a> </p>
      <br>OR <br>
      <button class="gn-btn" routerLink="/home" routerLinkActive="active"><span>Back to
          Home</span><i>&rarr;</i></button>
    </div>
    <div class="fire-div">
      <h1>Our findings revealed that Arnold was chatting instead of maintaining the site.</h1><br>
      <div>
        <div class="fire-img-div">
          <img src="./assets/img/me3.jpg" alt="Arnold" srcset="" width="100%">
        </div >
        <div class="fire-btn-div">
          <button class="fire gn-btn"><span>Fire Arnold</span><i>&rarr;</i></button>
        </div>
      </div>


    </div>
  </div>
</section>
